html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;

}

.page-wrapper {
    /* width: 100%; */
    display: flex;
    justify-content: center;
}

.nav {
    list-style: none;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 15px;
    margin-left: -20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.going-wrapper {
    display: flex;

}

.going-wrapper p {
    margin-right: 20px;
    margin-left: 20px;
}

.currentUser {
    display: flex;
    flex-direction: column;
    width: 260px;

    border-radius: 30px;
}

.currentUser img {
    width: 200px;
    margin-left: 20px;
    border-radius: 30px;
    border: 1px solid black;

}

.button-wrapper {
    width: 100%;
    text-align: center;
}

.button-wrapper button {
    margin-right: 10px;

}

.button-wrapper i {
    height: 20px;
    width: 20px;
    color: white;

}

.going {
    background-color: green;
}

.notGoing {
    background-color: red;
}

.going-wrapper2 {
    widows: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}